.pageWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;

    background-image: url("./pirateDeck.png"), radial-gradient(circle, gray, black);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.barrelMask {
    width: 100vw;
    height: 100vh;
}

.parrotMsg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.parrotTalk {
    color: red;
}