html, body {
  width: 100vw;
  height: 100vh;
}

.pageWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;

  background-image: url("/pirateBackground.jpg");
  background-size: 100% 100%;
  overflow: hidden;
}

.content {
  background-image: url("/parchment.png");
  background-size: cover;
  position: relative;
  width: 600px;
  display: flex;
  justify-content: center;
}

.bucketWrapper {
  position: absolute;
  left: 100px;
  top: 100px;
  width: 100px;
  height: 100px;
}


.bucket {
  background-image: url("/bucket.png");
  background-size: 100% 100%;
  position: absolute;
  width: 100px;
  height: 100px;
  cursor: grab;
  top: 100px;
  left: 100px;
  z-index: 100;
  transform-origin: center center;
}

.handle {
  background: orange;
  width: 10px;
  height: 10px;
}

.handle:hover {
  cursor: alias;
}

.riddle, .riddle2 {
  position: relative;
  top: 200px;
  left: 10px;
  font-size: 20px;
  max-width: 350px;
  line-height: 2.5;
  font-family: "IM Fell Great Primer";
  user-select: none;
}

.riddle2 {
  opacity: 0;
}

.nextArrow {
  width: 70px;
  height: 40px;
  background-image: url("/nextArrow.png");
  background-size: 100% 100%;
  position: absolute;
  top: 580px;
  right: 140px;
}

.prevArrow {
  width: 70px;
  height: 40px;
  background-image: url("/nextArrow.png");
  transform: scaleX(-1);
  background-size: 100% 100%;
  position: absolute;
  top: 580px;
  right: 400px;
  opacity: 0;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  display: none;
}

.fadeOut {
  animation: fadeOut 1s ease-in-out forwards;
}

.fadeIn {
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}